<div class="chessboard" cdkDropListGroup>
  <div class="board-row"
        *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7]">
    <app-square *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]"
                [square]=gameBoard[row][col]></app-square>
    <br />
  </div>
</div>

<div>
  <span>
    {{ checkDisplay }}
  </span>
</div>

<div>
  <span>
    {{ playerTurnDisplay }}
  </span>
</div>

<div>
    White Captured:
    <div  *ngIf="prisonersOfWhite != undefined">
      <span *ngFor="let prisoner of prisonersOfWhite">
        <img class="prisoner-list" [src]='prisoner.graphic' />
      </span>
    </div>
</div>

<div>
  &nbsp;
</div>
<div>
  &nbsp;
</div>

<div>
  Black Captured:
    <div  *ngIf="prisonersOfBlack != undefined">
      <span *ngFor="let prisoner of prisonersOfBlack">
        <img class="prisoner-list" [src]='prisoner.graphic' />
      </span>
    </div>
</div>